/* exo1 */
#exo1 {
    position: relative;
}

#exo1::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 60px;
    background-color: red;
    bottom: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#exo1:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Exo 2 */
#exo2 {
    position: relative;
}

#exo2::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 60px;
    background-color: red;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#exo2:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}

/* Exo 3 */
#exo3 {
    position: relative;
    background: linear-gradient(to bottom, red 0%, red 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    transition: background-size 1s;
    width: 60px;
}

#exo3:hover {
    background-size: 4px 50px;
}

/* Exo 4 */
#exo4 h1 {
    position: absolute;
    width: 70px;
    height: 35px;
    text-align: center;
    padding: 10px 10px;
    overflow: hidden;
}

h1 span {
    display: block;
    background: red;
    transition: all 0.2s;
}

h1 span:first-child,
h1 span:nth-child(3) {
    position: absolute;
    height: 2px;
    width: 100%;
}

h1 span:nth-child(2),
h1 span:last-child {
    position: absolute;
    height: 100%;
    width: 2px;
}

h1 span:first-child {
    top: 0;
    left: -100%;
}

h1 span:nth-child(2) {
    top: -100%;
    right: 0;
    transition-delay: 0.2s;
}

h1 span:nth-child(3) {
    bottom: 0;
    right: -100%;
    transition-delay: 0.4s;
}

h1 span:last-child {
    bottom: -100;
    left: 0;
    transition-delay: 0.6s;
}

h1:hover span:first-child {
    top: 0;
    left: 0;
}

h1:hover span:nth-child(2) {
    top: 0;
    right: 0;
}

h1:hover span:nth-child(3) {
    bottom: 0;
    right: 0;
}

h1:hover span:last-child {
    bottom: 0;
    left: 0;
}

/* Fin Exo 4 */