section {
    position: relative;
}

#exo1,
#exo2 {
    padding-bottom: 0;
}

#exo3,
#exo4 {
    margin: 20px;
}

/* Début exo1 */
#exo1::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: red;
    transition: width 200ms ease;
}

#exo1:hover::after {
    width: 60px;
}

/* Début exo2 */
#exo2::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 60px;
    background-color: red;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#exo2:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}

/* Début exo 3 */
#exo3 {
    width: 60px;
    background: linear-gradient(to bottom, red 0%, red 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 50px 2px;
    transition: 1s ease-in;
}

#exo3:hover {
    background-size: 4px 50px;
}

/* Exo 4 */
#exo4 {
    width: 70px;
}

#exo4::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
}

#exo4:hover::before {
    visibility: hidden;
    border-top: 1px solid red;
    border-right: 1px solid red;
    width: 100%;
    height: calc(100% - 2px);
    transition: width 0.5s, height 0.5s 0.5s, visibility 10s 4s;
}

#exo4::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

#exo4:hover::after {
    visibility: visible;
    transition: width 0.5s 1s, height 0.5s 1.5s, visibility 1s 1s;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    width: 100%;
    height: calc(100% - 2px);
}